<% display_percent ||= false %>
<% if (product.price > 0 && product.master.volume_prices.present? && !product.has_variants?) || %>
<%    (product.variants.any? {|v| v.price > 0} && product.variants.any? {|v| v.volume_prices.present?}) %>
<div id="bulk-discount">
  <h6><%= t(:bulk_discount) %></h6>
  <table>
    <% if product.has_variants? %>
      <% product.variants.each do |v| %>
        <%= render 'spree/products/volume_price_row_for_variant', variant: v, display_percent: display_percent %>
      <% end %>
    <% else %>
      <%= render 'spree/products/volume_price_row_for_variant', variant: product.master, display_percent: display_percent %>
    <% end %>
  </table>
</div>
<%end%>
